<link href="{:asset_admin('css/home.css')}" rel="stylesheet">
<div class="layui-body">
    <div class="layui-fluid ew-console-wrapper">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <p style="font-size:14px;color: rgba(0,0,0,.45);">总订单金额
                            <span class="pull-right">
                                    <i class="ri-exchange-cny-fill ri-xl" style="vertical-align: -0.3em;"></i>
                                </span>
                        </p>
                        <p class="lay-big-font"><span style="font-size: 26px;line-height: 1;">¥&nbsp;</span>85,84787
                        </p>
                        <div style="height: 40px;">
                            <p>
                                    <span style="margin-right: 30px;">周同比 17% &nbsp;
                                        <svg style="vertical-align: -0.5em;" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 24 24" width="24" height="24">
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 8l6 6H6z" fill="rgba(231,76,60,1)"/></svg>
                                    </span>
                                <span>日同比 11% &nbsp;
                                        <svg style="vertical-align: -0.5em;" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 24 24" width="24" height="24">
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 16l-6-6h12z" fill="rgba(47,204,113,1)"/></svg>
                                    </span>
                            </p>
                        </div>
                    </div>
                    <p style="padding: 10px 15px 0px 15px;border-top: 1px solid #f0f0f0;">日销售金额<span
                        style="padding: 0 12px;">¥&nbsp;63 万元</span></p>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <p style="font-size:14px;color: rgba(0,0,0,.45);">访问量
                            <span class="pull-right">
                                    <i class="ri-funds-line ri-xl" style="vertical-align: -0.3em;"></i>
                                </span>
                        </p>
                        <p class="lay-big-font"><span style="font-size: 26px;line-height: 1;"></span>92,648
                        </p>
                        <div style="height: 40px;" id="ECharts01">

                        </div>
                    </div>
                    <p style="padding: 10px 15px 0px 15px;border-top: 1px solid #f0f0f0;">
                        日访问量<span style="padding: 0 10px;">1675</span>
                        <span style="margin-left: 20px;">日同比 26% &nbsp;
                                <svg style="vertical-align: -0.5em;" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M12 8l6 6H6z" fill="rgba(231,76,60,1)"/></svg>
                            </span>
                    </p>

                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <p style="font-size:14px;color: rgba(0,0,0,.45);">活跃用户
                            <span class="pull-right">
                                    <i class="ri-ghost-2-line ri-xl" style="vertical-align: -0.3em;"></i>
                                </span>
                        </p>
                        <p class="lay-big-font"><span style="font-size: 26px;line-height: 1;"></span>12684
                        </p>
                        <div style="height: 40px;" id="ECharts02">

                        </div>
                    </div>
                    <p style="padding: 10px 15px 0px 15px;border-top: 1px solid #f0f0f0;">
                        今日活跃用户<span style="padding: 0 10px;">782</span>
                        <span style="margin-left: 20px;">日同比 6% &nbsp;
                                <svg style="vertical-align: -0.5em;" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M12 16l-6-6h12z" fill="rgba(47,204,113,1)"/></svg>
                            </span>
                    </p>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <p style="font-size:14px;color: rgba(0,0,0,.45);">总支出金额
                            <span class="pull-right">
                                    <i class="ri-hand-coin-line ri-xl" style="vertical-align: -0.3em;"></i>
                                </span>
                        </p>
                        <div class="layui-row" style="height: 96px;">
                            <div style="width: 40%;height: 100%;float: left;">
                                <p class="lay-big-font"><span
                                    style="font-size: 26px;line-height: 1;">¥&nbsp;</span>4675217
                                </p>
                                <p>
                                        <span>周同比12% &nbsp;
                                            <svg style="vertical-align: -0.5em;" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 24 24" width="24" height="24">
                                                <path fill="none" d="M0 0h24v24H0z"/>
                                                <path d="M12 8l6 6H6z" fill="rgba(231,76,60,1)"/></svg>
                                        </span>
                                </p>
                            </div>
                            <div style="width:60%;height: 100%;float: left;" id="ECharts03">

                            </div>
                        </div>
                    </div>
                    <p style="padding: 10px 15px 0px 15px;border-top: 1px solid #f0f0f0;">今日总支出<span
                        style="padding: 0 10px;">68541</span></p>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-card">
                <div class="layui-card-header">登录日志</div>
                <div class="layui-card-body">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th lay-data="">用户名</th>
                            <th lay-data="">IP</th>
                            <th lay-data="">状态</th>
                            <th lay-data="">登陆时间</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
