<div class="admin-body animated fadeIn">
    <form action="{$form_action}" method="post" class="layui-form layui-form-pane">

        {include file="components/form_pid" /}

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                节点名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="{$row.name}" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="icon" class="layui-form-label">
                icon
            </label>
            <div class="layui-input-block">
                <input type="text" id="icon" name="icon" value="{$row.ioc}" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="url" class="layui-form-label">
                规则URL
            </label>
            <div class="layui-input-block">
                <input type="text" id="url" name="url" value="{$row.url}" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">
                类型
            </label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="启用" checked>
                <input type="radio" name="type" value="0" title="禁用">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="remark" class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                <input type="text" id="remark" name="remark" value="{$row.remark}" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        {include file="components/form_radio" title="$form_radio_status.title" radios="$form_radio_status.radios" /}


        {include file="components/form_submit" event= "edit-data" /}
    </form>
</div>

{include file="common/layui" /}
